{
  "extends": ["standard", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "rules": {
    "semi": [2, "always"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "ignore",
        "objects": "always-multiline",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "ignore"
      }
    ],
    "no-unused-vars": "off"
  }
}
